@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Wakesurfing</h1>
    <img src="~/img/94e9c8a2-c113-4fcb-b3f7-dd94e9c8a2-c113-4fcb-b3f7-dd6f207adfbf6f207adfbf.jpg" height="400"/>
    <img src="~/img/2785f269-65f3-4a1b-8d25-f3518332297e.jpg" height="400" />
    <br /><br />
    <p>Surfing behind a wave on a boat, known as Wakesurfing, has been around for a long time but it wasn't until the mid 2010's when it became extremely popular. When you Wakesurf, you start in the water and having the boat pull you up using a rope. Once you are up and have had some experience balancing, you are able to throw the rope into the boat, surfing behind it using only the momentum the wave gives you, similar to surfing in the ocean. Wakesurfing is much slower than wakeboarding or waterskiing, the boat going from around 9 to 13 MPH on the water.</p>
    <br /><br />
    <img src="~/img/cbb08255-a545-4327-8355-afa30d40b9fd.jpg" width="600" />
    <br /><br />
    <p>I grew up on the water and every year of my life, including when I was an infant, have been consistently going boating throughout the summer (and occasionally in the winter as well). After years of experience, I have become much more experimental on the surfboard, surfing sitting down, going backwards, on my knees, etc. I also have learned some cool tricks with small jumps, switching sides of the wake, and even doing a 360 on the surfboard. I'd highly recommend surfing to anyone since it is easy enough to learn and can be done at any skill level. Navigate to the pricing page to learn more about personalized lessons!</p>
    <br />
</div>
